/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  background-image: url(../images/cover-image-dark.png);
  --text-accent-color: #000028;
  --main-text-color: #f1b2ce;
  --accent-color: #ff0070;
  --text-accent-bg-color: #ff0070;
  --text-heading-color: #000028;
  --main-heading-color: #db00ff;
  --main-fonts-family: "IBM Plex Mono";
  --decorated-element_visibility: visible;
}
