/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  background-image: url(../images/cover-image-light.png);
  --text-accent-color: #353430;
  --main-text-color: #353430;
  --accent-color: #353430;
  --text-accent-bg-color: #FF8DCB;
  --text-heading-color: #353430;
  --main-heading-color: #FFC2E6;
  --decorated-element_visibility: none;
}


  @media (prefers-color-scheme: light) {
  :root {
    --text-accent-color: #353430;
    --main-text-color: #353430;
    --accent-color: #353430;
    --text-accent-bg-color: #FF8DCB;
    --text-heading-color: #353430;
    --main-heading-color: #FFC2E6;
    --decorated-element_visibility: none;
    }
    .page {
      background-image: url(../images/cover-image-light.png);
    }
    .header__decorated-element{
      display: none;
    }
}
